@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');



body{
   background-image: url(/src/img/map-bg.jpg);
   font-family: 'Lato';
   font-size: 18px;
}

header h1{
   font-family: 'Supermercado One';
   font-size: 45px;
   color: #5d4037;
}

#main {width: 900px; margin: 10px auto;}


#menu {
    display: flex;
    justify-content: space-between;;

}

dt{
   font-size: 20px;
   font-weight: 600;
}
 section h2{
   color: #6d4c41; 
   font-variant: small-caps;
 }



 .price{
    color:#b22222 ;
 }


.menu-side {
   width: 420px;
}

section {margin-bottom: 50px;}


h2 {margin: 0;}

dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}


.price {order: 2; padding-left: 10px;}

address {
   padding: 10px;
   border: dashed 2px #bc8f8f;
}


.left{
   border-right: dashed 2px #bc8f8f;
   padding-right: 28px;
}