@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');


body{
   font-size: 14px;
   font-family: 'Oswald';
}

header h1{
   font-size: 46px;
   font-family: 'Bungee Inline';
   font-weight: 100;
}
nav {font-family: sans-serif; font-size: 10px;}

#main {width: 900px; margin: 10px auto;}

#menu {
   display: flex;
   justify-content: space-between;

}

.menu-side {
   width: 420px;
}
section {
   margin-bottom: 20px; 
   padding: 10px;
  
}

h2 {
   margin-top: 0;
   text-transform: uppercase;
}


dt {
   font-weight: bold;
   display: inline;
   font-size: 16px;
}

dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px;}


dt::after{
   content: ",";
}

footer{
   float: right;
   text-align: end;
}

#starters{
   border: 2px solid;
}

#desserts{
   border: 2px solid;
}